.form-btns-container {
  display: flex;
  justify-content: center;
}

.form-btns-container > button,
.form-btns-container > a,
.loginRegisterToggle {
  background: linear-gradient(to bottom, #3a3a3a, #1c1c1c);
  border: 2px solid #70543e;
  border-radius: 5px;
  color: #d4b873;
  font-family: 'Georgia', serif;
  font-size: 16px;
  padding: 10px 20px;
  text-shadow: 1px 1px 2px #000;
  transition: all 0.3s, transform 0.3s;
  cursor: pointer;
  text-decoration: none;
}

.form-btns-container > button:hover,
.form-btns-container > a:hover,
.loginRegisterToggle:hover {
  background: linear-gradient(to bottom, #4a4a4a, #2c2c2c);
  transform: scale(1.05);
}

.form-btns-container > button:active,
.form-btns-container > a:active,
.loginRegisterToggle:active {
  background: linear-gradient(to bottom, #2c2c2c, #1c1c1c);
  transform: scale(1);
}

.loginRegisterToggle {
  margin-top: 1rem;
}

.login-button {
  align-self: center;
}

.login-form {
  background-color: #2c2c2c;
  max-width: 300px;
  padding: 2rem;
  margin: 1rem;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.form-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
}

.form-group label {
  display: block;
  color: #d4b873;
  margin-bottom: 0.5rem;
}

.form-group input {
  padding: 0.5rem;
  border: 2px solid #70543e;
  border-radius: 5px;
  background-color: #3a3a3a;
  color: #d4b873;
}

.form-group select {
  display: block;
  color: #d4b873;
  margin-bottom: 0.5rem;
}

.form-group select {
  padding: 0.5rem;
  border: 2px solid #70543e;
  border-radius: 5px;
  background-color: #3a3a3a;
  color: #d4b873;
}

.form-group input:focus {
  outline: none;
  border-color: #d4b873;
}

.error-message {
  padding-top: 1rem;
  padding-bottom: 1rem;
  color: #ff3300;
}
