.primary-nav {
  position: relative;
  top: 0;
  position: fixed;
  width: 100%;
  z-index: 999;
}

.logging-btns-container {
  display: flex;
  justify-content: end;
  gap: 1rem;
  padding: 1rem 2rem;
}

.logging-btns-container > a,
.logout-btn,
ion-icon {
  background: linear-gradient(to bottom, #3a3a3a, #1c1c1c);
  border: 2px solid #70543e;
  border-radius: 5px;
  color: #d4b873;
  font-family: 'Georgia', serif;
  font-size: 16px;
  padding: 10px 20px;
  text-shadow: 1px 1px 2px #000;
  transition: all 0.3s, transform 0.3s;
  cursor: pointer;
  text-decoration: none;
}

.logging-btns-container > a:hover,
.logout-btn:hover {
  background: linear-gradient(to bottom, #4a4a4a, #2c2c2c);
  transform: scale(1.05);
}

.logging-btns-container > a:active,
.logout-btn:active {
  background: linear-gradient(to bottom, #2c2c2c, #1c1c1c);
  transform: scale(1);
}

.mobile-nav-trigger {
  display: none;
  position: absolute;
  right: 1rem;
  top: 1rem;
  z-index: 9999;
}

@media screen and (max-width: 750px) {
  .desktop-nav {
    display: none;
  }

  .mobile-nav-trigger {
    display: block;
  }
}

.mobile-nav {
  box-sizing: border-box;
  position: absolute;
  height: 100vh;
  width: 100%;
  padding: 1rem;
  left: 50%;
  transform: translate(-50%);
  top: 50%;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  justify-content: center;
  background: #a0a0a091;
}

ion-icon {
  font-size: 32px;
  padding: 2px;
}
